In [4]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

In [5]:
#Q1. Print the data present in the second row of the dataframe, df.

print(df.loc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [6]:
#Q2. Difference between loc and iloc in pandas.DataFrame loc is label-based, which means that you have to specify rows and columns based on their row labels and column labels. iloc is integer index-based, which means that you have to specify rows and columns based on their integer position.

For example, df.loc[1] will select the row with label 1, while df.iloc[1] will select the second row (index 1).

SyntaxError: invalid syntax (2513971279.py, line 3)

In [9]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [11]:
#Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df

reindex = [3,0,1,2]
new_df = df.reindex(reindex)
print(new_df.loc[2])  # prints the third row of the original dataframe
print(new_df.iloc[2])  # prints the row at index 2 of the new dataframe

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [12]:
#Q4. Statistical measurements for the dataframe df1

print(df1.mean())  # mean of each column
print(df1['column_2'].std())  # standard deviation of column 'column_2'

column_1    0.537694
column_2    0.577223
column_3    0.465006
column_4    0.646391
column_5    0.670315
column_6    0.485123
dtype: float64
0.3384585621844304

In [13]:
#Q5. Replace the data present in the second row of column, 'column_2' by a string variable



df1.loc[2, 'column_2'] = 'string_data'
print(df1['column_2'].mean())  # will raise an error because 'string_data' is not a numeric value

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [14]:
#Q6. Windows function in pandas The window function in pandas is used to perform calculations over a set of table rows that are somehow related to the current row. This is comparable to the type of calculation that can be done with an aggregate function. With partitioning, you can divide a result set produced by the FROM clause into partitions to which the function is applied.

Types of windows functions:

Rolling window functions
Expanding window functions
Exponential weighted window functions

SyntaxError: invalid syntax (2450226425.py, line 3)

In [15]:
#Q7. Print only the current month and year

import pandas as pd
print(pd.datetime.now().strftime('%Y-%m'))

2024-07

/tmp/ipykernel_1350/3982576192.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  print(pd.datetime.now().strftime('%Y-%m'))

In [16]:
#Q8. Calculate the difference between two dates
import pandas as pd

date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

td = date2 - date1

print("Difference:")
print(f"Days: {td.days}")
print(f"Hours: {td.seconds // 3600}")
print(f"Minutes: {(td.seconds // 60) % 60}")

Enter the first date (YYYY-MM-DD):  2003 08 14
Enter the second date (YYYY-MM-DD):  2004 08 14

Difference:
Days: 366
Hours: 0
Minutes: 0

In [18]:
#Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

SyntaxError: invalid syntax (2780937431.py, line 2)

In [ ]:
import pandas as pd

# Prompt the user to enter the file path, column name, and category order
file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated): ")

# Read the CSV file
df = pd.read_csv(file_path)

# Convert the specified column to a categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order.split(','), ordered=True)

# Display the sorted data
print(df.sort_values(column_name))

In [ ]:
#Q10. Visualize sales data using a stacked bar chart

import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file
df = pd.read_csv(file_path)

# Assume the CSV file has columns 'Product', 'Category', 'Sales', and 'Date'
# Group the data by 'Category' and 'Date', and calculate the sum of 'Sales'
df_grouped = df.groupby(['Category', 'Date'])['Sales'].sum().unstack()

# Create a stacked bar chart
df_grouped.plot(kind='bar', stacked=True)

# Display the chart
plt.show()